
h1 {
  font-family: 'Caveat', cursive;
  text-align:center;
  font-size:60px;
  margin-top: 0px;
}
th,td{
  text-align: center;
}
div {
  margin:0px 10px 0px 10px;
}
#theads {
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #dee2e6;
  font-size: 15px;
}
.tableToDo{
  overflow: auto;
  max-height: 400px;
}
th{
  padding: 15px;
}
th:hover {
  background:#ffffff;
  cursor: pointer;
  box-shadow: inset 0px 0px 10px #f0f0f0;
  border-radius: 10px 10px 0px 0px;
}
.tr{
  height: 10px;
}
.tr:hover {
  box-shadow: inset 0px 0px 10px rgba(214, 214, 214);
}
textarea{
  width:100%;
  word-wrap: break-word;
  background-color:inherit;
}
td>textarea {
  height: 45px;
  resize:none;border:none;
}
div>textarea {
  min-height: 25px;
  border:none;
}
td>div>div{
  width:100%;
  word-wrap: break-word;
  font-size:12px;
}
.colCompl{
  width:10%;
}
.colName {
  width:55%;
}
.colName1 {
  width:30%;
  text-align: left;
}
.colDet{
  width:25%;
}
.colDate{
  width:25%;
}
.colDel{
  width:10%;
}
input:hover{
  cursor: pointer;
}
button{
  opacity: 0.7
}
